/*
---------------
Reset
---------------
*/

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
} 


/*
---------------
Typo
---------------
*/

body {
    font-family: 'Fredoka', sans-serif;
}

h2 {
    font-weight: bold;
}


/*
---------------
Common
---------------
*/

body {
    color: #0f0e17;
}

.container {
    margin: 0 auto;
    max-width: 1150px;
}

.clearfix::after {
    content:'';
    display: block;
    clear: both;
}

/*
---------------
Heading
---------------
*/

section.heading {
    text-align:center;
    margin-bottom: 40px;
}


section.heading h2 {
    margin: 40px 0;
    color: #e53170;
    font-size: 40px;
}

section.heading p {
    line-height: 1.5em;
}

/*
---------------
Cards Section
---------------
*/


.card {
    background-color: #0f0e17;
    float: left;
    width: calc(100% / 3 - 20px);
    margin: 10px;
    box-shadow: 0px 0px 10px 5px rgb(200, 200, 200);
}

.card-image {
    display:block;
    float:left;
    height: 100px;
}

.card-contents {
    float: left;
    padding: 10px 10px;
    color: #FFF;
}

.content-designer {
    margin: 5px 0;
}

.card-contents a  {
 color: #71c5c5;
 text-decoration: none;
}

.card-contents a:hover {
color: #e53170;
text-decoration: underline;
}